# Associative Analysis (Smart Marketing)

### Loading Relevant Libraries

In [1]:
# Importing the nesessary libraries
import pandas as pd
import numpy as np
# import sqlalchemy to link the VsCode IDE to the database (My SQL Workbench) to retreive data stored from various tables on the SQL Database
import sqlalchemy
# Importing libaries to help perfom Apriori a technique used in Associative Analysis
from mlxtend.frequent_patterns import apriori, association_rules

# Constructing an engine to work with in python as i query the database
engine=sqlalchemy.create_engine('mysql://root:Madowo123.@localhost/mymoviesafrica')

### Reading & Cleaning the Tables from The SQL database

In [2]:
# Checking the column names and dropping the Null Values from each column 
users=pd.read_sql_table('users',engine)
users.head()
users.isnull().any()

id              False
fullname        False
email           False
phone            True
photo_url        True
birthday         True
locale          False
currency        False
ref_id           True
token            True
password         True
fcm_token        True
createdon       False
lasteditedon    False
isTest          False
isMedia         False
dtype: bool

In [3]:
# Renaming columns to match the table the user table is to be merged with 
users_df=users[['id','fullname']]
users_df=users_df.rename(columns={"id":"user_id"})
users_df

      user_id                      fullname
0           1               William Mucheru
1           5                      Jane Doe
2           7              Angela Mwandanda
3           8                         Peter
4           9                           Kip
...       ...                           ...
4661     4667                 Mark Macharia
4662     4668  Ekirapa Eli - Moringa School
4663     4669                          null
4664     4670                  Nyagah Isaac
4665     4671                Duke Heistings

[4666 rows x 2 columns]

In [4]:
# Reading and  cleaning the purchases table
purchases=pd.read_sql_table('purchases',engine)
purchases.head()
purchases_df=purchases[["user_id","content_id","amount"]]
purchases_df

      user_id  content_id  amount
0           1           1   300.0
1           1           9   200.0
2           1          31   200.0
3           1           7   100.0
4           1          28     0.0
...       ...         ...     ...
2387     4664          56     9.0
2388     4667           1    99.0
2389     4668           7    99.0
2390     4668          49    19.0
2391     4668          56     9.0

[2392 rows x 3 columns]

In [5]:
# Reading and  cleaning the purchases table
content=pd.read_sql_table('content',engine)
content.head()
content_df=content[['id','title']]
content_df=content_df.rename(columns={"id":"content_id"})
content_df

     content_id                title
0             1    NAIROBI HALF LIFE
1             2             KATUTURA
2             3             SOUL BOY
3             4            KATI KATI
4             5  SOMETHING NECESSARY
..          ...                  ...
96          104         Bread Winner
97          105     Christmas Spirit
98          106                Saved
99          107             Dog City
100         108             QISMAT 2

[101 rows x 2 columns]

### Merging The datasets into one dataset containing customer details the the users the amount they have used in purchases and the content they've purchased

In [6]:
new_merger=pd.merge(pd.merge(users_df,purchases_df,on='user_id'),content_df,on='content_id')
new_merger

,user_id,fullname,content_id,amount,title
0,1,William Mucheru,1,300.00,NAIROBI HALF LIFE
1,10,MyMovies.Africa - MyChoiceTV Dev,1,400.00,NAIROBI HALF LIFE
2,43,Ivy Mumo,1,400.00,NAIROBI HALF LIFE
3,46,Mishi Wambiji,1,400.00,NAIROBI HALF LIFE
4,47,Sarah Ranji,1,400.00,NAIROBI HALF LIFE
...,...,...,...,...,...
2387,3384,Gregory Hazlett,87,59.00,THE SOUND MAN
2388,4195,K. McGee,87,1.19,THE SOUND MAN
2389,3459,Jill Ghai,59,199.00,"THE XYZ SHOW presents THE BEST OF TINGA, VOLUME 1"
2390,3549,Musuda Alitsi,59,199.00,"THE XYZ SHOW presents THE BEST OF TINGA, VOLUME 1"
2391,4206,Peter Mbogo,59,599.00,"THE XYZ SHOW presents THE BEST OF TINGA, VOLUME 1"

In [7]:
# Removing the columns with disconnect as it was an anomally which might affect the functioning of the model
merger = new_merger.loc[~(new_merger["title"]=='DISCONNECT')]
merger.shape

(1373, 5)

***Disconnect had the most purchases in both years therefore it would affect the model as it had the most likely chance of being purchased with the rest the content therefore it would affect the model by lowering the confidence of lifting the other products***

In [9]:
# Checking if the rows containg dusconnect have been eliminated
new_merger.shape

(2392, 5)

In [76]:
merger.to_csv('merger.csv')

### Perfoming Apriori (Associative Analysis)

In [10]:
# Encoding the purchases column to monitor the rate of interaction of the users in relation to their purchases they made for content
def encode_purchases(x):
    if x==0:
        return 0
    else:
        return 1
merger["Interaction"]=merger['amount'].apply(encode_purchases)
merger

C:\Users\hp\AppData\Local\Temp/ipykernel_25016/3241904695.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merger["Interaction"]=merger['amount'].apply(encode_purchases)

,user_id,fullname,content_id,amount,title,Interaction
0,1,William Mucheru,1,300.00,NAIROBI HALF LIFE,1
1,10,MyMovies.Africa - MyChoiceTV Dev,1,400.00,NAIROBI HALF LIFE,1
2,43,Ivy Mumo,1,400.00,NAIROBI HALF LIFE,1
3,46,Mishi Wambiji,1,400.00,NAIROBI HALF LIFE,1
4,47,Sarah Ranji,1,400.00,NAIROBI HALF LIFE,1
...,...,...,...,...,...,...
2387,3384,Gregory Hazlett,87,59.00,THE SOUND MAN,1
2388,4195,K. McGee,87,1.19,THE SOUND MAN,1
2389,3459,Jill Ghai,59,199.00,"THE XYZ SHOW presents THE BEST OF TINGA, VOLUME 1",1
2390,3549,Musuda Alitsi,59,199.00,"THE XYZ SHOW presents THE BEST OF TINGA, VOLUME 1",1
2391,4206,Peter Mbogo,59,599.00,"THE XYZ SHOW presents THE BEST OF TINGA, VOLUME 1",1

In [11]:
# Assessing the interaction ensuring the encoding was effective by checking the unique values in the column
merger['Interaction'].unique()

array([1, 0], dtype=int64)

In [12]:
# Checking and dropping duplicates
merger.duplicated().sum()
merger.drop_duplicates(inplace=True)
merger.duplicated().sum()

C:\Users\hp\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

0

In [14]:
# Creating a pivot table with the index is the customer and the columns are the movies that the customers have watched
pivot_df=merger.pivot_table(index='user_id',columns='title',values="Interaction").fillna(0)
pivot_df
# Converting the values within the frame to intergers
pivot_df=pivot_df.astype('int64')
def encode_interaction(x):
    if x<=0:
        return 0
    else:
        return 1
# Applying it to the pivot table
pivot_df=pivot_df.applymap(encode_interaction)
pivot_df

title,14 PHERE,1988,6:59,AFRICAN WOMEN IN THE TIME OF COVID-19,AMAZING GRACE,BACKLASH,BENTA,"BILAL, A NEW BREED OF HERO",BLURRED,BROKEN NEWS,...,TWENDE BERLIN,Test,UNLOVE ME,VEVE,WAKAMBA FOREVER,WATATU,WAZI? FM,WHY U HATE,YOU AGAIN,`95
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1,1,1,0,1,1,0,1,0,1,...,0,1,0,1,1,0,0,0,1,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
19,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4657,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4658,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4664,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4667,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4668,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
from mlxtend.frequent_patterns import apriori
# Getting the frequrently watched movies
frequent_itemset = apriori(pivot_df, min_support=0.01, use_colnames=True)
frequent_itemset.sort_values(by='support',ascending=False)

     support                           itemsets
30  0.152393     (THE 600: THE SOLDIERS' STORY)
21  0.142317                          (NAPUNYI)
8   0.102015                   (FAMILY MEETING)
25  0.095718                           (SOFTIE)
28  0.070529                        (SUPA MODO)
14  0.065491                           (LUSALA)
23  0.062972                (SLEEPING WARRIOR )
10  0.051637                         (JONAROBI)
24  0.051637                            (SNEAK)
3   0.045340       (BILAL, A NEW BREED OF HERO)
20  0.040302                (NAIROBI HALF LIFE)
34  0.039043                     (TOUR DU FASO)
32  0.034005      (THE LEGEND OF LWANDA MAGERE)
37  0.028967                  (WAKAMBA FOREVER)
15  0.028967                       (MADAM RAIS)
40  0.026448                        (YOU AGAIN)
11  0.026448                        (KATI KATI)
12  0.025189                          (KIZINGO)
19  0.025189                            (MŨCIĪ)
4   0.022670                          (BLURRED)
41  0.020151         (FAMILY MEETING, JONAROBI)
36  0.018892                             (VEVE)
27  0.018892                           (SUBIRA)
0   0.018892                             (1988)
52  0.017632                   (SNEAK, NAPUNYI)
9   0.017632            (FROM HERE TO TIMBUKTU)
6   0.017632                  (COERCED REVENGE)
22  0.016373     (RADHE: Your Most Wanted Bhai)
1   0.016373                             (6:59)
33  0.016373                      (THE TEMPEST)
17  0.015113                          (MO & ME)
45  0.015113            (FAMILY MEETING, SNEAK)
2   0.015113                         (BACKLASH)
29  0.013854                     (TAIFA TUKUFU)
43  0.013854           (FAMILY MEETING, LUSALA)
18  0.012594              (MUSIC IS OUR WEAPON)
54  0.012594           (SNEAK, WAKAMBA FOREVER)
53  0.012594         (WAKAMBA FOREVER, NAPUNYI)
47  0.012594        (FAMILY MEETING, SUPA MODO)
5   0.012594                  (CAHIER AFRICAIN)
38  0.012594                         (WAZI? FM)
39  0.011335                       (WHY U HATE)
7   0.011335                    (DEADLY WAHALA)
48  0.011335             (FAMILY MEETING, VEVE)
49  0.011335  (FAMILY MEETING, WAKAMBA FOREVER)
51  0.011335                     (SNEAK, MŨCIĪ)
26  0.011335              (SOMETHING NECESSARY)
42  0.010076          (FAMILY MEETING, KIZINGO)
44  0.010076          (FAMILY MEETING, NAPUNYI)
35  0.010076                             (Test)
46  0.010076           (FAMILY MEETING, SUBIRA)
13  0.010076                     (LONDON FEVER)
50  0.010076                (KIZINGO, JONAROBI)
31  0.010076            (THE BODA BODA THIEVES)
16  0.010076                             (MEED)
55  0.010076     (WAKAMBA FOREVER, THE TEMPEST)

In [16]:
# Checking for the number of content/ Titles
x = merger['title'].unique()

In [67]:
list(x)

['NAIROBI HALF LIFE',
 'NI SISI',
 'LUSALA',
 'THE BODA BODA THIEVES',
 'Joe Bullet',
 'TOUR DU FASO',
 'SUPA MODO',
 'CAHIER AFRICAIN',
 'BILAL, A NEW BREED OF HERO',
 'COERCED REVENGE',
 'KIZINGO',
 'BACKLASH',
 'KATI KATI',
 'SOMETHING NECESSARY',
 'AFRICAN WOMEN IN THE TIME OF  COVID-19',
 'YOU AGAIN',
 '1988',
 'FAMILY MEETING',
 'SNEAK',
 'CODE 254',
 'THE TEMPEST',
 'WAKAMBA FOREVER',
 'THE LEGEND OF LWANDA MAGERE',
 'BROKEN NEWS',
 'MEED',
 'LUCY',
 'MŨCIĪ',
 'DEADLY WAHALA',
 "THE 600: THE SOLDIERS' STORY",
 'MO & ME',
 '6:59',
 'LOVE, ZAWADI',
 'Test',
 'CONSEQUENCES',
 'THE PHONE CALL',
 'AMAZING GRACE',
 'SUBIRA',
 'KIU',
 'VEVE',
 '14 PHERE',
 'PUAADA',
 'TRUTH & TIDINGS',
 'WAZI? FM',
 'SOFTIE',
 'JONAROBI',
 'LONDON FEVER',
 'MUSIC IS OUR WEAPON',
 'TWENDE BERLIN',
 'NAPUNYI',
 'FROM HERE TO TIMBUKTU',
 'KATUTURA',
 'MELTING THE HEART',
 'WHY U HATE',
 'RADHE: Your Most Wanted Bhai',
 'SLEEPING WARRIOR ',
 'SOUL BOY',
 'BENTA',
 'MADAM RAIS',
 '`95',
 'BLURRED',
 'KISSING SHADOWS',
 'WATATU',
 'UNLOVE ME',
 'TAIFA TUKUFU',
 'IMAGINATION',
 'THE XYZ SHOW presents THE BEST OF UHUNYE, VOLUME 1',
 'CHUMO',
 'THE XYZ SHOW presents THE BEST OF ARUTODE, VOLUME 1',
 'LOVE, ZAWADI x BLURRED',
 'SIPHO DLAMINI',
 'THE STRAIGHT PATH',
 'THE SOUND MAN',
 'THE XYZ SHOW presents THE BEST OF TINGA, VOLUME 1']

In [17]:
# We want to now compute and quantify the likelihood of movie X being watched given Y has been watched
from mlxtend.frequent_patterns import association_rules

rules = association_rules(frequent_itemset, metric="lift", min_threshold=0.01)
rules_esc = rules[rules['antecedents'].apply(lambda x: len(x)==1 and next(iter(x)))== "WAKAMBA FOREVER"]
rules_esc

# rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
17,(WAKAMBA FOREVER),(FAMILY MEETING),0.028967,0.102015,0.011335,0.391304,3.835749,0.008380,1.475261
24,(WAKAMBA FOREVER),(NAPUNYI),0.028967,0.142317,0.012594,0.434783,3.055021,0.008472,1.517438
27,(WAKAMBA FOREVER),(SNEAK),0.028967,0.051637,0.012594,0.434783,8.419936,0.011099,1.677873
28,(WAKAMBA FOREVER),(THE TEMPEST),0.028967,0.016373,0.010076,0.347826,21.244147,0.009601,1.508228

In [18]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(FAMILY MEETING),(JONAROBI),0.102015,0.051637,0.020151,0.197531,3.825354,0.014883,1.181806
1,(JONAROBI),(FAMILY MEETING),0.051637,0.102015,0.020151,0.390244,3.825354,0.014883,1.472695
2,(FAMILY MEETING),(KIZINGO),0.102015,0.025189,0.010076,0.098765,3.920988,0.007506,1.081640
3,(KIZINGO),(FAMILY MEETING),0.025189,0.102015,0.010076,0.400000,3.920988,0.007506,1.496641
4,(FAMILY MEETING),(LUSALA),0.102015,0.065491,0.013854,0.135802,2.073599,0.007173,1.081360
5,(LUSALA),(FAMILY MEETING),0.065491,0.102015,0.013854,0.211538,2.073599,0.007173,1.138908
6,(FAMILY MEETING),(NAPUNYI),0.102015,0.142317,0.010076,0.098765,0.693980,-0.004443,0.951675
7,(NAPUNYI),(FAMILY MEETING),0.142317,0.102015,0.010076,0.070796,0.693980,-0.004443,0.966403
8,(FAMILY MEETING),(SNEAK),0.102015,0.051637,0.015113,0.148148,2.869015,0.009846,1.113295
9,(SNEAK),(FAMILY MEETING),0.051637,0.102015,0.015113,0.292683,2.869015,0.009846,1.269565
10,(FAMILY MEETING),(SUBIRA),0.102015,0.018892,0.010076,0.098765,5.227984,0.008148,1.088627
11,(SUBIRA),(FAMILY MEETING),0.018892,0.102015,0.010076,0.533333,5.227984,0.008148,1.924253
12,(FAMILY MEETING),(SUPA MODO),0.102015,0.070529,0.012594,0.123457,1.750441,0.005399,1.060382
13,(SUPA MODO),(FAMILY MEETING),0.070529,0.102015,0.012594,0.178571,1.750441,0.005399,1.093199
14,(FAMILY MEETING),(VEVE),0.102015,0.018892,0.011335,0.111111,5.881481,0.009408,1.103747
15,(VEVE),(FAMILY MEETING),0.018892,0.102015,0.011335,0.600000,5.881481,0.009408,2.244962
16,(FAMILY MEETING),(WAKAMBA FOREVER),0.102015,0.028967,0.011335,0.111111,3.835749,0.008380,1.092412
17,(WAKAMBA FOREVER),(FAMILY MEETING),0.028967,0.102015,0.011335,0.391304,3.835749,0.008380,1.475261
18,(KIZINGO),(JONAROBI),0.025189,0.051637,0.010076,0.400000,7.746341,0.008775,1.580605
19,(JONAROBI),(KIZINGO),0.051637,0.025189,0.010076,0.195122,7.746341,0.008775,1.211129
20,(SNEAK),(MŨCIĪ),0.051637,0.025189,0.011335,0.219512,8.714634,0.010034,1.248977
21,(MŨCIĪ),(SNEAK),0.025189,0.051637,0.011335,0.450000,8.714634,0.010034,1.724296
22,(SNEAK),(NAPUNYI),0.051637,0.142317,0.017632,0.341463,2.399309,0.010283,1.302407
23,(NAPUNYI),(SNEAK),0.142317,0.051637,0.017632,0.123894,2.399309,0.010283,1.082475
24,(WAKAMBA FOREVER),(NAPUNYI),0.028967,0.142317,0.012594,0.434783,3.055021,0.008472,1.517438
25,(NAPUNYI),(WAKAMBA FOREVER),0.142317,0.028967,0.012594,0.088496,3.055021,0.008472,1.065308
26,(SNEAK),(WAKAMBA FOREVER),0.051637,0.028967,0.012594,0.243902,8.419936,0.011099,1.284269
27,(WAKAMBA FOREVER),(SNEAK),0.028967,0.051637,0.012594,0.434783,8.419936,0.011099,1.677873
28,(WAKAMBA FOREVER),(THE TEMPEST),0.028967,0.016373,0.010076,0.347826,21.244147,0.009601,1.508228
29,(THE TEMPEST),(WAKAMBA FOREVER),0.016373,0.028967,0.010076,0.615385,21.244147,0.009601,2.524685

#### Extracting models from one envirionment to another for deploymet purposes

In [ ]:
# Importing library Used for Importing Models from one code environment to another 
import pickle

In [ ]:
# Exporting the Model
filename = 'trained_model.sav'
pickle.dump(frequent_itemset, open('filename','wb'))

In [22]:
wakamba_watchers=merger[merger['title']=='WAKAMBA FOREVER']
# Getting the average age
gender_count=wakamba_watchers.groupby('gender')['Amount (KES)'].count()
gender_count

KeyError: 'gender'

In [ ]:
disconnect_watchers.head()

,Unnamed: 0,Invoice No.,Customer,Gender,Title,Transaction Type,Amount (KES),Date,Time,Platform,Country
40,40,2469,PATRICK ONSARIGO,M,DISCONNECT,RENTAL,199.0,3rd Nov 2021,11:32 AM,Windows 10,Kenya
48,48,2460,Daniel Wanjiru,M,DISCONNECT,EST,199.0,23rd Oct 2021,14:25 PM,Windows 10,Kenya
90,90,2366,Paula Juma,M,DISCONNECT,EST,419.0,22nd Aug 2021,10:57 AM,Windows 10,Kenya
91,91,2365,Nellie Odera,F,DISCONNECT,RENTAL,139.0,21st Aug 2021,22:59 PM,Android,Kenya
92,92,2364,Cheryl Angasa,F,DISCONNECT,RENTAL,139.0,21st Aug 2021,20:15 PM,Android,Kenya

In [73]:
disconnect_watchers=customer_trans[customer_trans['Title']=='WAKAMBA FOREVER']
# Getting the average age
transaction_type_count=disconnect_watchers.groupby('Transaction Type')['Amount (KES)'].count()
transaction_type_count

NameError: name 'customer_trans' is not defined

In [ ]:
disconnect_watchers=customer_trans[customer_trans['Title']=='DISCONNECT']
# Getting the average age
platform_count=disconnect_watchers.groupby('Platform')['Amount (KES)'].count()
platform_count

Platform
Android             632
Linux                11
Mac OS X             33
Unknown Platform      1
Windows 10          228
Windows 7            26
Windows 8             2
Windows 8.1          14
iOS                  56
Name: Amount (KES), dtype: int64

In [ ]:
disconnect_watchers=customer_trans[customer_trans['Title']=='DISCONNECT']
# Getting the average age
country_count=disconnect_watchers.groupby('Country')['Amount (KES)'].count()
country_count

Country
Kenya    1003
Name: Amount (KES), dtype: int64

In [ ]:
family_meeting_watchers=customer_trans[customer_trans['Title']=='FAMILY MEETING'] 
# Getting the average age
fam_country_count=family_meeting_watchers.groupby('Country')['Amount (KES)'].count()
fam_country_count
# We might want to recommend to the kenyans who have watched disconnect Family count

Country
France             1
Kenya             82
United Kingdom     1
Name: Amount (KES), dtype: int64

In [ ]:
family_meeting_watchers=customer_trans[customer_trans['Title']=='FAMILY MEETING']
# Getting the average age
transaction_type_fam=family_meeting_watchers.groupby('Transaction Type')['Amount (KES)'].count()
transaction_type_fam

Transaction Type
EST       14
RENTAL    70
Name: Amount (KES), dtype: int64